* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
}
header {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #fea9fe , #feffa8, #b2ffb5, #a8c6ff, #fea9fe); 
    background-size: 500%;
    animation: colorMovement 12s alternate infinite;
}
#logo{
    width: 60%;
}
main{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #323232;
}
.content{
    display: flex;
    width: 95%;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    text-decoration: none;
}
.contentItem{
    display: flex;
    max-height: 70vw;
    max-width: 40vw;
    padding: 4vw;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}
#tic-tac-toe{
    height: 100%;
    width: 100%;
}
.contentImg{
    width: 32vw;
    padding-bottom: 1vmin;
    border-radius: 15%;
    transition: transform 0.3s ease;
}
.contentImg:hover{
    transform: translateY(-1vh);
}
.contentTitle{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
.contentInfo{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #b6b6b6;
}
footer{
    width: 100vw;
    padding: 8vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #1b1b1b;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
li{
    margin: 3px;
}
li:hover{
    text-decoration: underline;
}
@keyframes colorMovement {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}
@media (max-width: 519px){
    .contentTitle{
        font-size: 2.5vh;
        margin-bottom: 0.5vh;
    }
    .contentInfo{
        font-size: 1.5vh;
    }
}
@media (max-width: 275px){
    .contentTitle{
        font-size: 2vh;
        margin-bottom: 0.5vh;
    }
    .contentInfo{
        font-size: 1vh;
    }
}
@media (max-width: 200px){
    *{
        font-size: 5vw;
    }
}
@media (min-width: 520px){
    #logo{
        width: 45%;
    }
    .contentItem{
        max-width: 25vw;
        padding: 2vw;
    }
    .contentImg{
        width: 22vw;
    }
}
@media (min-width: 800px){
    #logo{
        width: 40%;
    }
    .content{
        margin-bottom: 2vh;
        width: 93%;
        justify-content: space-evenly;
    }
    .contentTitle{
        font-size: 3vh;
        margin-bottom: 0.5vh;
    }
    .contentInfo{
        font-size: 2vh;
    }
    footer{
        flex-direction: row;
    }
}
@media (min-width: 1080px){
    #logo{
        width: 28%;
    }
    .content{
        margin-bottom: 4vh;
        width: 90%;
        justify-content: space-evenly;
    }
    .contentItem{
        max-width: 20vw;
        max-height: 50vh;
        padding: 2vw 0;
        margin-top: 2vh;
    }
    .contentTitle{
        margin-bottom: 1vh;
    }
    .contentImg{
        width: 17vw;
        margin: 2vh;
    }
    footer{
        padding-top: 4vh;
        padding-bottom: 12vh;
    }
}